
.kasa-slider {
    background-size: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kasa-slider-images-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.kasa-slider-image {
    display: none;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kasa-slider-image-show {
    display: block;
}

.kasa-slider-image-hide {
    display: none;
}

.kasa-slider-shadow {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one-picture-slider {
    justify-content: center !important;
}

.kasa-slider-shadow a {
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 2.5rem;
}

.kasa-slider-shadow a:nth-child(1):hover {
    background: rgba(255, 96, 96, 0.5);
    border-radius: 25px 0 0 25px;
}

.kasa-slider-shadow a:nth-child(3):hover {
    background: rgba(255, 96, 96, 0.5);
    border-radius: 0 25px 25px 0;
}

.kasa-slider-shadow a i {
    font-size: 2rem;
}

.kasa-slider-shadow div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
}

.kasa-slider-shadow div p {
    font-size: 1rem;
}

.kasa-slider-dot-image {
    height: 13px;
    width: 13px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 5px;
    cursor: pointer;
}

.kasa-slider-dot-image.active {
    background-color: #FF6060;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
}

@media screen and  (max-width: 768px) {

    .kasa-slider {
        height: 250px;
    }

    .kasa-slider-shadow a {
        /*font-size: 1rem;*/
    }

}